@import './stylesheets/variables.css';

html,
body {
    margin: 0;
    padding: 0;
    background-color: var(--color-slate-200);
    font-family: var(--font-sans);
}

.home_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home_title {
    font-size: 1.55rem;
    font-weight: 600;
    text-align: center;
    padding: 0 0.5rem;
}

.home_description {
    font-size: 1.25rem;
    text-align: center;
    padding: 0 0.5rem;
}

.vignette_column_flex_container,
.vignette_row_flex_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.vignette_row_flex_container {
    flex-direction: row;
    flex-wrap: wrap;
}

.CTA_banner {
    background-color: var(--color-slate-950);
    color: var(--color-slate-50);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    text-align: center;
}

.profile_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-slate-50);
    border: solid 2px var(--color-slate-300);
    border-radius: 10px;
    width: 450px;
    margin: 1rem auto;
    padding: 0.25rem;
    box-sizing: border-box;
}

.mobile_profile_form {
    width: 450px;
}

.desktop_profile_form {
    width: 700px;
}

.profile_main_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
}

.profile_top_container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
}

.user_details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.profile_user_icon {
    background-color: var(--color-red-500);
    border-radius: 50%;
    margin: 0.5rem;
}

.profile_author {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0;
}

.profile_email {
    font-size: 0.8rem;
    color: var(--color-slate-500);
    margin: 0;
}

.biography {
    font-size: 1rem;
    font-style: italic;
    color: var(--color-slate-500);
    padding: 1rem;
}

.snippets_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.snippet_button_container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

.mobile_snippet_button_container {
    width: 450px;
}

.desktop_snippet_button_container {
    width: 700px;
}

.simple_link {
    text-decoration: none;
    color: var(--color-slate-700);
}

.profile_snippet_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.profile_snippet_list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    grid-area: 1rem;
    flex-wrap: wrap;
}

.profile_update_buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* Snippet Detail Page Classes */

.go_back {
    color: var(--color-slate-500);
    font-size: 1.5rem;
    font-weight: 600;
    text-indent: 2rem;
}

.snippet_detail_language {
    font-size: 1rem;
    font-weight: 500;
    color: var(--color-slate-700);
    margin-left: 1rem;
}

.snippet_detail_title {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-slate-700);
    margin-left: 1rem;
}

.snippet_detail_description {
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--color-slate-600);
    margin-left: 1rem;
}

.snippet_detail_tag_container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    box-sizing: border-box;
}

.snippet_detail_author_container {}

.snippet_detail_author_icon {}

.snippet_detail_code_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    background-color: var(--color-slate-50);
    border: 2px solid var(--color-slate-300);
    border-radius: 8px;
    margin: 1rem;
    box-sizing: border-box;
}

.snippet_detail_code_top_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    border-radius: 8px;
    background-color: var(--color-slate-50);
    box-sizing: border-box;

}

.snippet_detail_code_title {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-slate-700);
    margin-left: 1rem;
}

.snippet_detail_code_text {
    background-color: var(--color-slate-200);
    width: 95%;
    margin: 1rem auto;
    border: 2px solid var(--color-slate-300);
    border-radius: 8px;
    box-sizing: border-box;
    padding: 0.5rem;
}

.snippet_detail_comment_title {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-slate-700);
    margin-left: 1rem;
}

.snippet_detail_comment_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    margin: 1rem;
}

.separator {
    height: 3px;
    background-color: var(--color-slate-300);
    border: none;
}